@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --division-color: #20b2aa;
  --multiply-color: #ffa500;
  --subtract-color: #f08080;
  --add-color: #7d93e0;
  --equal-color: #9477af;
  --screen-color: rgb(248, 248, 248);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  background-image: url(../pictures/scattered-forcefields.svg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 75%;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-color: #eee;
  border-radius: 2em;
}

header {
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .title {
  font-weight: bold;
  font-size: large;
  height: 2.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.result-screen {
  grid-area: 2 / 1 / 3 / 5;
  background-color: var(--screen-color);
  cursor: text;
  letter-spacing: 5px;
  padding: 1em;
}

.c-btn {
  grid-area: 3 / 1 / 4 / 2;
}

.ce-btn {
  grid-area: 3 / 2 / 4 / 3;
}

.modulus {
  grid-area: 3 / 3 / 4 / 4;
}

div.division {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

div.division .division {
  grid-area: 3 / 4 / 4 / 5;
  background-color: var(--division-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: larger;
  color: white;
}

div.multiply {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.multiply .multiply {
  grid-area: 4 / 4 / 5 / 5;
  background-color: var(--multiply-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: larger;
  color: white;
}

div.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.add .add {
  grid-area: 6 / 4 / 7 / 5;
  background-color: var(--add-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: larger;
  color: white;
}

div.subtract {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.subtract .subtract {
  grid-area: 5 / 4 / 6 / 5;
  background-color: var(--subtract-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: larger;
  color: white;
}

div.equal {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.equal .equal {
  grid-area: 7 / 4 / 8 / 5;
  background-color: var(--equal-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: larger;
  color: white;
}

.one {
  grid-area: 6 / 1 / 7 / 2;
}

.two {
  grid-area: 6 / 2 / 7 / 3;
}

.three {
  grid-area: 6 / 3 / 7 / 4;
}

.four {
  grid-area: 5 / 1 / 6 / 2;
}

.five {
  grid-area: 5 / 2 / 6 / 3;
}

.six {
  grid-area: 5 / 3 / 6 / 4;
}

.seven {
  grid-area: 4 / 1 / 5 / 2;
}

.eight {
  grid-area: 4 / 2 / 5 / 3;
}

.nine {
  grid-area: 4 / 3 / 5 / 4;
}

.zero {
  grid-area: 7 / 1 / 8 / 3;
  border-bottom-left-radius: 2em;
}

.dot {
  grid-area: 7 / 3 / 8 / 4;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.445);
}

/* Making the page responsive for the tablet version */
@media only screen and (min-width: 720px) {
  .container {
    width: 60%;
  }
}

/* Making the page responsive for the desktop version */
@media only screen and (min-width: 1024px) {
  .container {
    width: 50%;
  }
  div.division .division {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
  div.multiply .multiply {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
  div.add .add {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
  div.subtract .subtract {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
  div.equal .equal {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
  }
  header .title {
    font-size: x-large;
  }
}
